<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>React Tweets</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
       <div class="blog-nav">
        <nav class="nav">
          <a class="blog-nav-item active" href="/">Home</a>
          <a class="blog-nav-item" href="#">Isomorphic</a>

        </nav>    
    </div>
    
    {{{ body }}}
    
    
    <script src="https://cdn.socket.io/socket.io-1.1.0.js"></script>
     
    <script type="text/javascript" src="libs/react.js"></script>
    <script type="text/javascript" src="libs/JSXTransformer.js"></script>
    <script src="js/bundle.js"></script>
    <!-- <script type="text/jsx" src="app.js"></script> -->

  </body>
</html>