.counter {
  width: 350px;
  margin: auto;
  background: #2c3e50;
  color: white;
  padding: 20px;
  text-align: center;
}
.counter h1 {
    margin: 0;
    padding: 20px;
    font-size: 36px;
  }
.counter  button {
     background: #c49d03;
  border: 0;
  box-shadow: 0px 5px 0px #927608;
  padding: 20px;
  width: 40%;
  outline: none;
  border-radius: 3px;
  color: #703688;
  font-weight: bold;
  margin-left:10px;
  cursor: pointer;
  }
  
.listComponent{
  background: #2c3e50;
  width: 200px;
  height: 300px;
  margin: 10px auto;
}
.listComponent input{
  width: 98%;
}
.title{
  text-align: center;
font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}
.blog-nav{
  
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
}
.nav{
    background-color: #428bca;
    margin: 0 auto;
    width: 960px;
}
 .blog-nav-item {
    position: relative;
    display: inline-block;
    padding: 10px;
    font-weight: 500;
    color: #cdddeb;
    text-decoration: none; 
  }
*
{
    box-sizing: border-box;
}

body
{
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;

    margin: 0;
    padding: 0 0 40px 0;

    color: white;
    background: #2c3e50;
}

footer
{
    position: fixed;
    z-index: 999;
    bottom: 0;

    width: 100%;
    padding: 20px;

    background: #abd9ff;
}

footer a,
footer span
{
    font-size: 12px;
    font-weight: bold;
}

footer a.link-back
{
    text-decoration: none;

    color: #2c3e50;
}

footer .twitter-share-button
{
    margin-right: 10px;
}

footer span.update-message
{
    padding-top: 3px;

    color: #2c3e50;
}

footer .twitter-share-button,
footer .update-message
{
    float: right;
}

.loader
{
    text-align: center;
}

.loader img
{
    max-height: 0;
    margin: 0;

    -webkit-transition: 1s all ease;
       -moz-transition: 1s all ease;
        -ms-transition: 1s all ease;
         -o-transition: 1s all ease;
            transition: 1s all ease;
}

.loader.active img
{
    max-height: 50px;
    margin: 10px auto 20px;
}

.notification-bar
{
    font-size: 13px;
    font-weight: bold;

    position: fixed;
    top: -60px;

    width: 100%;

    -webkit-transition: 300ms top ease;
       -moz-transition: 300ms top ease;
        -ms-transition: 300ms top ease;
         -o-transition: 300ms top ease;
            transition: 300ms top ease;
    text-align: center;

    color: white;
    background: rgba(241, 196, 15,.9);
}

.notification-bar.active
{
    top: 0;
}

.notification-bar a
{
    color: white;
}

.tweets
{
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px;
}

.tweet
{
    position: relative;
    display: block;
    color: #2c3e50;
    height: 78px;
    margin: 6px;
    list-style-type: none;
    border-radius: 3px;
    background: white;
    box-shadow: 0 3px 0 #eee;
}

.tweet.active
{
    max-height: 125px;
    margin: 20px 0;

    -webkit-transition: 1s all ease;
       -moz-transition: 1s all ease;
        -ms-transition: 1s all ease;
         -o-transition: 1s all ease;
            transition: 1s all ease;
}

.tweet .avatar
{
    position: relative;

    display: inline-block;
    float: left;

    width: 48px;
    margin: 10px;

    border: 2px solid #ccc;
    border-radius: 48px;
}

.tweet .blockquote
{
    font-size: 14px;

    display: inline-block;
    float: right;

    width: calc(100% - 72px);
    margin: 0;
    padding: 10px;
    height: 75px;
}

.tweet .blockquote .cite
{
    font-weight: bold;
    font-style: normal;
}

.tweet .blockquote .cite a
{
    display: inline-block;

    margin-right: 5px;

    text-decoration: none;

    color: #1abc9c;
}

.tweet .blockquote .cite a:hover
{
    text-decoration: underline;
}

.tweet .blockquote .screen-name
{
    font-size: 13px;
    font-weight: normal;

    color: #ccc;
}

.tweet .blockquote .content
{
    display: block;
    clear: left;

    margin-top: 5px;
}

.tweet:before,
.tweet:after
{
    display: table;

    content: ' ';
}

.tweet:after
{
    clear: both;
}

@media (max-width: 650px)
{
    footer span.update-message
    {
        display: none;
    }
}

@media (max-width: 500px)
{
    footer a.link-back
    {
        font-size: 0;
    }
    footer a:after
    {
        font-size: 12px;

        content: '← Back To Learning React';

    }
}
